QHeaderView::section:horizontal, QTableCornerButton::section {
    min-height: 26px;
    max-height: 26px;
    border: none;
    border-bottom: 1px solid lightgray;
    background-color: rgb(250,250,250);
    font-size: 13px;
}

/* 中间的，第一个但是不是最后一个(只有一列时) */
QHeaderView::section:horizontal:middle,
QHeaderView::section:horizontal:first:!last {
    border-right: 1px solid lightgray;
}

QHeaderView::section:vertical {
    /*border: none;*/
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid transparent;
    background-color: rgb(250,250,250);
    border-right: 1px solid lightgray;
}

QHeaderView:vertical {
    background-color: rgb(250,250,250);
    border-right: 1px solid lightgray;
}

QTableView {
    border: 1px solid rgb(182,182,182);
}
QTableView::item {
    border-bottom: 1px solid rgb(230,230,230);
}

QTableView::item:first:!last {
    border-right: 1px solid lightgray;
}

QTableView::item:alternate {
    background: white;
}

QTableView::item:selected {
    color: black;
    background: rgba(213, 236, 255, 255);
}
